@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Anton', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
}

header {

    text-align: center;
    padding: 15px;
    font-size: 15px;
    color: white;
    animation: name 7s ease-in-out infinite;

}

h1 {

    position: relative;
    right: 3.5%;

}

@keyframes name {

    0% {
        background-color: rgb(2, 0, 36);
    }

    50% {
        background-color: rgba(9, 9, 121, 1) 35%
    }

    70% {
        background-color: rgb(7, 220, 248)
    }

    100% {
        background-color: rgb(2, 0, 36)
    }

}

.picture {

    width: 90px;
    float: left;

}


section {

    background-size: cover;
    overflow: hidden;
    background-image: url('../images/background.png');
    background-position: center;
    height: 100vh;
    background-attachment: fixed;

}

.formContainer {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

    max-width: 280px;
    float: right;
    background-color: #000000d7;
    padding: 20px;

    position: relative;
    top: 10%;
    right: 2%;

    border-radius: 20px;
    border: solid 2px rgb(63, 7, 248);
    box-shadow: 0 0 100px rgb(63, 7, 248);
}


.mb {
    margin-bottom: 15px;
}

h2 {
    font-size: 25px;
}

p {
    font-size: 18px;
}

input,
select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;

    border: solid rgb(63, 7, 248);
    border-radius: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    color: white;
    background-color: rgb(63, 7, 248);
    ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    background-image: url('../images/arrow.jpg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;

}

footer {
    position: fixed;
    bottom: 0;
    background-color: rgba(11, 6, 51, 0.6);
    padding: 2%;
    text-align: center;
    width: 100%;

}

.rodape__container {
    padding-right: 80px;
}

.pic {
    width: 4vw;
    margin-bottom: 15px;
    text-align: center;
}

.description {
    color: white;
    text-align: center;
}

@media screen and (max-width: 860px) {


    section {
        background-image: url(/./images/responsive-fortnite-background2.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding-right: 4%;
    }

    .formContainer {
        margin: 0 auto;
        float: none;
        left: 2%;
        padding: 15px;
    }

    .picture {
        float: none;
        margin: 10px;
        width: 30vw;
    }

    h1 {
        position: static;
    }

    .pic {
        width: 20vw;
    }

    footer {
        position: relative;
        background-color: rgb(49, 48, 48);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2.5%;
        width: auto;
    }

    .rodape__container {
        padding: 0 0 4% 0;
    }

    .description {
        display: block;
        width: 80vw;
    }
}